<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Records</title>
</head>
<body>
    <h1>Add Employee</h1>

    <form action="addrecord/" method="post">
    {% csrf_token %}
    First Name:<br>
    <input name="first">
    <br><br>
    Last Name:<br>
    <input name="last">
    <br><br>
    Age:<br>
    <input name="age">
    <br><br>
    Qualification:<br>
    <input name="qualification">
    <br><br>
    College Name:<br>
    <input name="college">
    <br><br>
    City:<br>
    <input name="city">
    <br><br>
    <input type="submit" value="Submit">
    </form> 
</body>
</html>
