<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
  <h1>Employee Details</h1> 
  <a href="/emp">Back</a>
  <p>
    <table border="1px">
        <tr>
            <td>Name</td>
            <td>{{employee.firstname}} {{employee.lastname}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{employee.age}}</td>
        </tr>
        <tr>
            <td>Qualification</td>
            <td>{{employee.qualification}}</td>
        </tr>
        <tr>
            <td>College Name</td>
            <td>{{employee.college}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{employee.city}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{employee.date}}</td>
        </tr>
    </table>
  </p> 
</body>
</html>
