<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <style>
       .top_part
       {
        background-color: linen;
        height: 100px;
       } 
       .top_part .left a{
        background-color:aqua;
        color: black;
        text-decoration: none;
        padding: 2px;
       }
       .left{
        float: left;
       }
       .right{
        float: right;
       }
    </style>
</head>
<body>
    <div class="top_part">
        <h1>
            Welcome {{user.username}}
            Your Email is: {{user.email}}
        </h1>
        <div class="left">
            {% if not user.is_superuser %}
            <a href="/add/">Add New Record</a>
            {% endif %}
            <a href="/logout/">Logout</a>
        </div>

        <div class="right">
            {% if user.is_superuser %}
            <form method="post" action="/emp/" style="float: right;">
                {% csrf_token %}
                <select name="users">
                    
                    <option value="">Select User</option>
                    
                    {% for u in user_list %}
                    
                    {% if user_id == u.id %}
                    <option value="{{u.id}}" selected>{{ u.username }}</option>
                    {% else %}
                    <option value="{{u.id}}">{{ u.username }}</option>
                    {% endif %}

                    {% endfor %}
                </select>
            <input placeholder="Select Date" type="date" name="date" value="{{ sdate }}">
                <input type="submit" value="Submit">
            </form>
            {% endif %}
        </div>
    </div>

    <table border="1" width="100%">
    <tr style="text-align:left;">
        <th>S.no</th>
        <th>User</th>
        <th>Name</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Details</th>
    </tr>
    {% for i in myapps %}
    <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.user }}</td>
    <td>{{ i.firstname }} {{ i.lastname }}</td>
    <td>{{ i.date.date }}</td>
    <td><a href="/update/{{ i.id }}">update</a></td>
    <td><a href="/delete/{{ i.id }}">delete</a></td>
    <td><a href="/details/{{ i.id }}">details</a></td>
    </tr>
    {% endfor %}
    </table>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">
            X
            </button>
            <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <!-- {% for i in myapps %}
    First Name : {{i.firstname}}
    Last Name : {{i.lastname}}
    {% endfor %} -->

    
</body>
</html>